.statistics__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .statistics__head {
    margin: 0;
    padding: 25px;
  }
  .statistics__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    list-style: none;
    color: #afacac ;
    font-size: 14px;
    font-weight: bold;
    gap: 8px
  }